<!--
 * @Author: 陈巧龙
 * @Date: 2024-02-27 16:15:29
 * @LastEditors: Please set LastEditors
 * @LastEditTime: 2024-02-29 15:37:46
 * @FilePath: \Node_Study\views\partials\head.ejs
 * @Description: 头部
-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Blog | <%= title %></title>
</head>