<!--
 * @Author: 陈巧龙
 * @Date: 2024-02-27 16:15:49
 * @LastEditors: 
 * @LastEditTime: 2024-02-27 21:16:59
 * @FilePath: \Node_Study\views\partials\nav.ejs
 * @Description: 导航栏
-->
<nav>
    <div class="site-title">
        <a href="/">
            <h1>Blog Site</h1>
        </a>
        <p>By cql</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>