<!--
 * @Author: 陈巧龙
 * @Date: 2024-02-27 16:10:12
 * @LastEditors: Please set LastEditors
 * @LastEditTime: 2024-02-28 21:31:29
 * @FilePath: \Node_Study\views\about.ejs
 * @Description: 信息页面
-->
<html lang="en">
<%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>

            <div class="about content">
                <h2>About Me</h2>
                <p>An ordinary man, a man with a dream, a man with a quest.</p>
                <P>There's always something new to study.</P>
            </div>

            <%- include("./partials/footer.ejs") %>
    </body>

</html>